.borderless.top.menu {
  border: none;
  color: #AAAAAA;
}

.middle.menu {
  box-shadow: none;
}

.item.content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-background {
  background-color: lightgray;
  height: 100px;
  width: 500px;
}